<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a41791d9-469f-4187-952c-510130a894e2" Alias="[NC] Ribbons" Level="1">
  <Info>
    <Name>[NC] Ribbons</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "ribbonSlider",
      "ncTabAlias": "Slider",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>