<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89dc1871-d3ee-4c45-9436-aa407d035ce6" Alias="[NC] Slider" Level="1">
  <Info>
    <Name>[NC] Slider</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "slide",
      "ncTabAlias": "Slide",
      "nameTemplate": ""
    }
  ],
  "MinItems": 1,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>