<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dfd244e-d6a0-4b0c-980e-2eff23909c0f" Alias="Single Url Picker" Level="1">
  <Info>
    <Name>Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>