<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="469ecc32-c90a-4067-9dc3-ae8770d1e2ab" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-layout color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="d9a7c824-24a7-48be-9f6e-733d1850a9df">composistionRibbons</Composition>
      <Composition Key="9b26b706-3b5d-497b-aa83-a44f5a1c30ff">compositionBody</Composition>
      <Composition Key="9acf8aa5-68b2-47c3-af40-d87aaba649cc">header</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>