<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="469ecc32-c90a-4067-9dc3-ae8770d1e2ab" Alias="article" Level="2">
  <Info>
    <Name>Article</Name>
    <Icon>icon-layout color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="d9a7c824-24a7-48be-9f6e-733d1850a9df">composistionRibbons</Composition>
      <Composition Key="9b26b706-3b5d-497b-aa83-a44f5a1c30ff">compositionBody</Composition>
      <Composition Key="9acf8aa5-68b2-47c3-af40-d87aaba649cc">header</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7ba3f71d-e2f3-474f-93ca-ef73460f51fd</Key>
      <Name>Content Picker</Name>
      <Alias>contentPicker</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>32a5a777-7b7e-4027-86a5-4f170238c8f1</Key>
      <Name>Sinlge Url Picker</Name>
      <Alias>sinlgeUrlPicker</Alias>
      <Definition>5dfd244e-d6a0-4b0c-980e-2eff23909c0f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>