<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d9a7c824-24a7-48be-9f6e-733d1850a9df" Alias="composistionRibbons" Level="2">
  <Info>
    <Name>[Composistion] Ribbons</Name>
    <Icon>icon-list color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f348cefe-3b2f-4171-acd1-621f19762212</Key>
      <Name>Ribbons</Name>
      <Alias>ribbons</Alias>
      <Definition>a41791d9-469f-4187-952c-510130a894e2</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Ribbons</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Ribbons</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>