<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0dfd9894-29a3-4822-93b4-2a98df4108c4" Alias="listPage" Level="2">
  <Info>
    <Name>List Page</Name>
    <Icon>icon-thumbnail-list color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Content</Folder>
    <Compositions>
      <Composition Key="9acf8aa5-68b2-47c3-af40-d87aaba649cc">header</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="469ecc32-c90a-4067-9dc3-ae8770d1e2ab">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>