<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39e85460-29e8-4a06-809e-3271987b3e25" Alias="ribbonSlider" Level="3">
  <Info>
    <Name>[Ribbon] Slider</Name>
    <Icon>icon-slideshow color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Ribbons/Slider</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cbefb77b-e76d-417c-b6f2-98bec39a8695</Key>
      <Name>Slider</Name>
      <Alias>slider</Alias>
      <Definition>89dc1871-d3ee-4c45-9436-aa407d035ce6</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Slider</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Slider</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>