<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a47aa8a-8384-40de-9ce7-85ba1f6ff4c9" Alias="website" Level="2">
  <Info>
    <Name>Website</Name>
    <Icon>icon-globe-alt color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8c387539-43a7-4862-8d1d-8a0845938534">culture</ContentType>
    <ContentType Key="c7989daf-7e7c-4efc-a91a-be817eaa3fd1">frontPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>